body {
    background-color: #181818;
    color: white;
    font-family: 'Roboto', sans-serif;
}
h1{
    text-align: center;
    color: white;
    text-shadow : 0 2px 8px rgba(135, 13, 216, 0.5);
}

.community {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.communities-table {
    width: 70%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
    color: #181818;
}
.communities-table th,
.communities-table td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #181818;
    background-color: #8758FF;
    border-radius: 5px;
}

.communities-table th {
    background-color: #8758FF;
}

.communities-table tr:hover {
    opacity: 0.8;
}

button {
    background-color: #181818;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}