header{
    margin: 0;
}
nav{
    margin: 0;
    text-align: right;
    display: inline
}
ul li{
    margin-right: 30px;
    list-style: none;
}
ul li a{
    color: white;
    font-size: larger;
    text-decoration: none;
    margin: 10px;
}
ul li a:hover{
    text-decoration: underline;
}

body{
    background-color: #8758FF;
}
h1{
    text-align: left;
    color: white;
    background-color: #8758FF;
    width: 100%;
    margin-left: 50px;
    padding-top: 50px;
    font-size: 50px;
}
h3{
    text-align: left;
    color: white;
    font-size: 20px;
    background-color: #8758FF;
    width: 100%;
    margin-left: 50px;
}

.SignUp{
    text-align: left;
    color: white;
    width: 100%;
    margin-left: 50px;
    padding-top: 50px;
    font-size: 20px;
    
}
.SignUp .button{
    color: black;
    text-decoration: none;
    border: 1px solid black;
    width: 20%;
    height: 50px;
    border-radius: 5px;
}
.SignUp .button:hover{
    background-color: grey;

}
.Login{
    text-align: left;
    color: white;
    width: 100%;
    margin-left: 50px;
    font-size: 20px;
    margin-bottom: 20%;
}
.Login .button{
    color: black;
    text-decoration: none;
    border: 1px solid black;
    width: 20%;
    height: 50px;
    border-radius: 5px;
}
.Login .button:hover{
    background-color: grey;
}
.Buttons{
    display: block;
    text-decoration: none;
}
.Buttons a{
    text-decoration: none;
    color: black;
}
.Browse {
    text-align: left;
    color: white;
    width: 100%;
    margin-left: 50px;
    font-size: 20px;
    
}
.Browse .button{
    color: black;
    text-decoration: none;
    border: 1px solid black;
    width: 20%;
    height: 50px;
    border-radius: 5px;
}
.Browse .button:hover{
    background-color: grey;
}