header{
    margin: 0;
}
nav{
    margin: 0;
    text-align: right;
    display: inline
}
ul li{
    margin-right: 30px;
    list-style: none;
}
ul li a{
    color: white;
    font-size: larger;
    text-decoration: none;
    margin: 10px;
}
ul li a:hover{
    text-decoration: underline;
}

body{
    background-color: #7A6A9D;
}
h1{
    text-align: left;
    color: white;
    
    background-color: #7A6A9D;
    width: 100%;
    margin-left: 50px;
    padding-top: 200px;
    font-size: 50px;
}
h3{
    text-align: left;
    color: white;
    font-size: 20px;
    background-color: #7A6A9D;
    width: 100%;
    margin-left: 50px;
}

.SignUp{
    text-align: left;
    color: white;
    width: 100%;
    margin-left: 50px;
    padding-top: 50px;
    font-size: 20px;
}
.SignUp .button{
    color: black;
    text-decoration: none;
    border: 1px solid black;
    width: 20%;
    height: 50px;
}