.headernav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7A6A9D;
    color: white;
    padding: 2px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    flex-wrap: wrap;
}
header, nav {
    margin: 0;
}
header h1 {
    margin-left: 30px;
}
ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
ul li {
    margin-right: 30px; 
}
ul li a{
    color: white;
    font-size: larger;
    text-decoration: none;
    margin: 10px;
    flex-wrap: wrap;
}
ul li a:hover {
    text-decoration: underline;
}
body {
    margin: 0;
    padding: 0;
}
.dropdown {
    max-width: 150px;
    border-radius : 5px;
    z-index: 1;
}
.dropdown {
    max-width: 150px;
    display: none;
    position: absolute;
    background-color: #6c6281;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.dropdown li {
    
    padding: 10px;
    display: block; 
    border-bottom: 1px solid white;
    background-color: #6c6281;
}
ul li:hover .dropdown {
    display: block; 
    text-decoration: none;

}
.item a{
    display: block;
}
.Feed{
    text-align: center;
    border : 1px solid;
    border-color: #7A6A9D;
    margin-left: 30%;
    margin-right: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.Feed figure{
    border: 1px solid black;
    display : inline-block;
    border-radius: 5px;
    width: 80%;
}
.Feed hr{
    border: 1px solid black;
    width: 90%;
}
.Feed .button{
    box-shadow : 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
    border-radius: 5px;
}
