.headernav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8758FF;
    color: white;
    padding: 2px;
    font-family: Copperplate, Papyrus, fantasy;
    width: 100%;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px 0 rgba(135, 13, 216, 0.364);
}
header, nav {
    margin: 0;
}
header h1 {
    margin-left: 30px;
    text-shadow: #181818 1px 1px 1px;
}
ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
ul li {
    margin-right: 30px; 
    text-shadow: #181818 1px 1px 1px;
}
ul li a{
    color: white;
    text-shadow: #181818 1px 1px 1px;
    font-size: larger;
    text-decoration: none;
    margin: 10px;
    flex-wrap: wrap;
}
ul li a:hover {
    text-decoration: underline;
}
body {
    margin: 0;
    padding: 0;
    background-color: #181818;
}
.dropdown {
    max-width: 150px;
    border-radius : 5px;
    z-index: 1;
}
.dropdown {
    max-width: 150px;
    display: none;
    position: absolute;
    background-color: #181818;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.dropdown li {
    padding: 10px;
    display: block; 
    background-color: #181818;
    border-style: none;
    outline-style: none;
    text-decoration: none;
}
.dropdown li a {
    color: white;
    text-decoration: none;
    background-color: #181818;

}
ul li:hover .dropdown {
    display: block; 
    text-decoration: none;
}
.item a{
    display: block;
}
.layout-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 5px;
    align-items: start;
}
.Feed {
    text-shadow: rgba(255, 255, 255, 0.392) 1px 1px 1px;
    background-color: #8758FF;
    display: grid;
    text-align: center;
    border: 1px solid hsl(259, 21%, 52%);
    justify-self: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-top: 10px;
    border-radius: 5px;
    margin-bottom: 0;
    width: 70%;
}
.Feed figure {
    border: 1px solid black;
    border-radius: 5px;
    width: 90%;
    justify-self: center; 
    margin-top: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.Feed hr {
    border-style: none;
    background-color: #181818;
    border-color: #181818;
    height: 1px;
    width: 90%;
    justify-self: center;
    margin-top: 10px;
    margin-bottom: 10px; 
}
.Feed h3{
    margin-bottom: 0px;
    font-size: 30px;
}
.CreatePost {
    background-color: #8758FF;
    text-align: center;
    border: 1px solid hsl(259, 21%, 52%);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-left: 20%;
    margin-top: 20px;
    border-radius: 5px;
    margin-bottom: 400px;
}
.CreatePost .button {
    border-style: none;
    border-radius: 5px;
    justify-self: center;
    margin-bottom: 5px;
    color: white;
    background-color: #181818;
}
.admin-container{
    text-align: center;
}
.CreatePost
img{
    text-align: center;
    margin-top: 10px;
}
h3 a{
    text-decoration: none;
    color: black;
}