body {
    color: white;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 70%;
    border: 1px solid #ddd;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}
th {
    text-align: center;
    width: 10em;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
